{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-10 col-md-offset-1">
            <h1>Éditeur d'animé</h1>
            <br>
            {{ form_start(edit_form) }}
            {{ form_errors(edit_form, {'attr': {'class': 'alert alert-warning', 'role':'alert'}}) }}
            <table class="table">
                <thead>
                <tr>
                    <th>{{ form_label(edit_form.name,'Nom') }}</th>
                    <th>{{ form_label(edit_form.description,'Description') }}</th>
                    <th>{{ form_label(edit_form.genre,'Genre') }}</th>
                    <th>{{ form_label(edit_form.releaseDate,'Sortie le') }}</th>
                    <th>{{ form_label(edit_form.isRelease,'Publié') }}</th>
                    <th>{{ form_label(edit_form.consulted,'Nombre de visite') }}</th>
                    <th>{{ form_label(edit_form.editeur,'Éditeur') }}</th>
                    <th>{{ form_label(edit_form.studios,'Studios') }}</th>

                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>{{ form_widget(edit_form.name, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(edit_form.description, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(edit_form.genre, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(edit_form.releaseDate, {'attr': {'class': 'js-datepicker'}}) }}</td>
                    <td>{{ form_widget(edit_form.isRelease) }}</td>
                    <td>{{ form_widget(edit_form.consulted, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(edit_form.editeur, {'attr': {'class': 'form-control'}}) }}</td>
                    <td>{{ form_widget(edit_form.studios, {'attr': {'class': 'form-control'}}) }}</td>
                </tr>
                </tbody>
            </table>
            <div>
                <input class="btn btn-warning" type="submit" value="Éditer" />
            </div>
            {{ form_end(edit_form) }}
        </div>
    </div>
{% endblock %}
